@font-face {
    font-family: CaviarDreams;
    src: url(CaviarDreams.ttf);
  }
body{
    background: url(./freenaturestock-1955.jpg);
    background-size: cover;
    color: #EEE;
    font-family: monospace;
    font-weight: bold;
    margin: 0px;
    height: calc(100vh - 5px);
    font-family: CaviarDreams;
    
}
#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    --number: 35px;
    flex-direction: row-reverse;
}
#buttons{
    width: 10px;
    height: 600px;
}
#btn1{
    width: 4px;
    height: 40px;
    margin-top: 70px;
    background-color: #0D0D0D;
    border-radius: 0px 3px 3px 0px;
}
#btn2{
    width: 4px;
    height: 55px;
    margin-top: 50px;
    background-color: #0D0D0D;
    border-radius: 0px 3px 3px 0px;
}
#btn3{
    width: 4px;
    height: 55px;
    margin-top: 5px;
    background-color: #0D0D0D;
    border-radius: 0px 3px 3px 0px;
}
#a{
    width: calc(var(--number) * 9);
    height: calc(var(--number) * 18);
    border: #0D0D0D solid 5px;
    border-radius: 17px;
}
#b{
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border: #111 solid 5px;
    border-radius: 10px;
}
#c{
    width: 100%;
    height: 100%;
    background-color: #18181d;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 55px 1fr 3fr 45px;
}
#numbers{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-radius: 5px;
}
.number{
    background-color: rgb(44, 44, 46);
    border-radius: 50%;
    width:  60px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: 35px;
}
.number:hover{
    background-color: rgb(54, 54, 56);
}
.number:active{
    background-color: rgb(42, 42, 44);
}
#nC{
    grid-column: 2/3;
    margin-top: 20px;
    background-color: rgb(93, 182, 128);
}
#nC:hover{
    background-color: rgb(71, 167, 109);
}
#phone{
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home{
    background-color: #DDE;
    border-radius: 50px;
    width: 100px;
    height: 5px;
    margin: auto;
    margin-bottom: 5px;
}
#top{
    border-radius: 5px;
    border-top: rgb( 11, 12, 12) solid 8px;
}
#camera{
    background: rgb(13,13,13);
    background: linear-gradient(90deg, rgb( 8, 8, 8) 30%, rgb(15, 15, 15) 92%, rgb(10, 10, 10) 100%); 
    width: 150px;
    height: 15px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
}
#camera div{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 10px;
    background: linear-gradient(52deg, rgb(43, 43, 43) 0%, rgb(88, 88, 88) 60%);
}