@font-face {
    font-family: CaviarDreams;
    src: url(CaviarDreams.ttf);
  }
body{
    background: url(./freenaturestock-1955.jpg);
    background-size: cover;
    color: #DDE;
    margin: 0px;
    height: calc(100vh - 5px);
    font-family: CaviarDreams;
    backdrop-filter: blur(4px);
}
#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    --number: 35px;
}
#buttons{
    width: 10px;
    height: 600px;
}
#btn1{
    width: 4px;
    height: 40px;
    margin-top: 70px;
    background-color: #0D0D0D;
    border-radius: 0px 3px 3px 0px;
}
#btn2{
    width: 4px;
    height: 55px;
    margin-top: 50px;
    background-color: #0D0D0D;
    border-radius: 0px 3px 3px 0px;
}
#btn3{
    width: 4px;
    height: 55px;
    margin-top: 5px;
    background-color: #0D0D0D;
    border-radius: 0px 3px 3px 0px;
}
#a{
    width: calc(var(--number) * 9);
    height: calc(var(--number) * 18);
    border: #0D0D0D solid 5px;
    border-radius: 17px;
}
#b{
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border: #111 solid 5px;
    border-radius: 10px;
}
#c{
    width: 100%;
    height: 100%;
    background-color: #18181d;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 55px 1fr 3fr 45px;
}
#numbers{
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 5px;
    gap: 7px;
}
.number{
    background-color: rgb(44, 44, 46);
    border-radius: 50%;
    width:  55px;
    height: 55px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: 35px;
}
.number:hover{
    background-color: rgb(54, 54, 56);
}
.number:active{
    background-color: rgb(42, 42, 44);
}
#nC{
    grid-column: 2/3;
    margin-top: 20px;
    background-color: rgb(93, 182, 128);
}
#nC:hover{
    background-color: rgb(71, 167, 109);
}
#nC:active{
    background-color: rgb(61, 116, 83);
}
#phone{
    font-size: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#home{
    background-color: #DDE;
    border-radius: 50px;
    width: 100px;
    height: 8px;
    margin: auto;
    margin-bottom: 5px;
}
#home:hover{
    background-color: #BBB;
}
#home:active{
    background-color: transparent;
}
#top{
    border-radius: 5px;
    border-top: rgb( 11, 12, 12) solid 8px;
}
#camera{
    background: rgb(13,13,13);
    background: linear-gradient(90deg, rgb( 8, 8, 8) 30%, rgb(15, 15, 15) 92%, rgb(10, 10, 10) 100%); 
    width: 150px;
    height: 15px;
    margin: auto;
    border-radius: 0px 0px 5px 5px;
}
#camera div{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 10px;
    background: linear-gradient(52deg, rgb(43, 43, 43) 0%, rgb(88, 88, 88) 60%);
}
.red{
    background-color: #833;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.green{
    background-color: #384;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
#showList{
    width: 70px;
    height: 70px;
    background-color: #18181d;
    position: fixed;
    top: 0px;
    left: 0px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #111 5px;
    border-left: none;
    border-radius: 0px 5px 10px 0px;
    -webkit-border-radius: 0px 5px 10px 0px;
    -moz-border-radius: 0px 5px 10px 0px;
    -ms-border-radius: 0px 5px 10px 0px;
    -o-border-radius: 0px 5px 10px 0px;
}
#showList img{
    filter: invert(96%);
    -webkit-filter: invert(96%);
    width: 90%;
}
#list{
    font-size: 28px;
    display: none;
    padding: 10px;
}
#showList:hover, #showList:active{
    animation-name: showSlide;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier();
    animation-fill-mode: forwards;
}
#showList:hover #list, #showList:active #list{
    position: fixed;
    display:block;
    top: 0px;
    left: 0px;
    height: 100vh;
    background-color: #18181d;
    border: solid #111 5px;
    animation-name: listSlide;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier();
    animation-fill-mode: forwards;
}
#title{
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    font-size: 33px;
}
.line{
    width: 80%;
    height: 2px;
    background-color: #DDE;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
.valid{
    padding: 5px;
}
@keyframes listSlide {
    0%{
        width: 5px;
    }
    100%{
        width: 400px;
    }
}
@keyframes showSlide {
    10%{
        left: 0px;
    }
    100%{
        left: 430px;
    }
}






















